{{define "content"}}

{{with .PrevInSection}} <a href="{{.RelPermalink}}" class="prev-link">предыдущий анонс</a> {{end}}
{{with .NextInSection}} <a href="{{.RelPermalink}}" class="next-link">следующий анонс</a> {{end}}
      
  <span class="talk-date">{{partial "date-ru" .}}</span>
{{with .Params.speaker}}   <span class="speaker-name">{{.}}</span>{{end}}

      <br />
    
  <span class="talk-title">{{.Title}}</span>
      <br /><br />
      </div>
  
    <div style="text-align: justify;" class="announcement">
{{.Content}}
</div>
      <br />
<!--      <span class=""><a href="../2016-2017.html">список заседаний 2016&ndash;2017</span> -->

{{end}}