
#nav {
  width: 135px;
  float: left;
  font-size: 1.1em;
}
#nav ul { list-style-type: none; }
#nav li { margin: 0 0 5px 0; }
#content {
  margin-left: 135px;
}
#content p { text-align : justify; }

.nav {
	float:				left;
	color: 				rgb(0, 102, 153);
}
