
{{$schools := sort .Site.Data.schools.schools "enddate"}}


{{if .Get 0 }}
    {{if eq (.Get 0) "past"}}
        {{range (sort $schools "enddate" "desc")}}
           {{if now.After (time .enddate)}} {{template "school" .}} {{end}} 
        {{end}}
    {{else}}
        {{range (sort $schools "enddate" "asc")}}
           {{if now.Before (time .enddate)}} {{template "school" .}} {{end}} 
        {{end}}
    {{end}}
{{else}}
    {{range $schools}} {{template "school" .}} {{end}}
{{end}}



{{define "school"}}
<div style="margin-bottom: 10pt;">
<span class="red"> 
{{with .display_date}} {{.}} {{end}}
({{with .startdate}} {{.}} {{end}} - {{with .enddate}} {{.}} {{end}} )
</span>
{{.speaker}}<br/>
{{.kind}}<br/>
{{.link | markdownify}}<br/>
{{.place}}<br/>
</div>
{{end}}